*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    background-color: #f4f2ec;
}

header{
    position: absolute;
    width: 100%;
    min-height: 20%;
    background-color: #252217;
    z-index: -1;
}

#cabecalho{ 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#cabecalho figure{
    margin-top: 1.5%;
    margin-left: 7%;
}

#cabecalho nav{
    display: flex;
    margin-top: 1.5%;
    margin-right: 20%;
}

#cabecalho ul{
    display: flex;
}

#cabecalho li{
    padding: 2%;
    list-style: none;
}

#cabecalho a{
    color: #875c14;
    text-decoration: none;
}

#cabecalho a:hover{
    color: #b87d17;
}

section{
    float: left;
    width: 55%;
}

#museu img{
    margin: 5em 0em 0em 8em;
    width: 100%;
}

.area_postagem{
    display: flex;
    width: 55%;
    margin-left: 7%;
    color: #875c14;
}

.postagem{
    display: block;
    width: 50%;
    padding: 1.5%;
}

.postagem iframe{
    width: 100%;
    height: 250px;
}

.postagem h4{
    margin-bottom: 1.5%;
    color: #289114;
}

.postagem li{
    padding-left: 20px;
}

a{
    text-decoration: none;
    color: #875c14;
}
a:hover{
    color: #b87d17;
}

aside{
    float: right;
    width: 30%;
    height: 100%;
    margin-right: 5%;
    margin-top: -41.3%;
}

#depoimento img{
    width: 90%;
}

#dividir{
    width: 90%;
    min-height: 20px;
    margin-top: -2px;
    background-color: #ebe7dd;
}

#visita{
    background-color: #cdc8b1;
    width: 90%;
    padding: 5%;
}

#visita h4{
    color: #289114;
}

#visita input{
    border: solid 1px #875c14;
}

#visita #data{
    width: 30%;
}

#visita #qntd{
    width: 10%;
}

#visita div{
    display: flex;
    padding: 2%;
}

#visita button{
    width: 100%; 
    min-height: 30px;
    justify-content: center;
    align-items: center;
    color: #e9e9e9;
    background-color: #9b9271;
    border: none;
}

#visita button:hover{
    background-color: #9b894a;
    cursor: pointer;
}

#dados{
    gap: 5px;
}

#galeria{
    width: 90%;
    background-color: #ebe7dd;
    padding: 5%;
}

#galeria h4{
    color: #289114;
}

#galeriaContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2vw;
}

.fundo img{
    width: 100%;
}

.imagem figure{
    margin-top: -135px;
}

.imagem img{
    width: 100%;
    padding: 13%;
}

#divRodape{
    display: flex;
    float: inline-end;
    width: 100%;
    justify-content: center;
}

footer{
    display: block;
    float:inline-end;
    width: 100%;
}

footer ul{
    display: flex;
    justify-content: center;
}

footer li{
    display: inline;
    padding: 20px;
}

footer p{
    display: flex;
    justify-content: center;
}

footer span{
    color: #875c14;
    padding-left: 10px;
    padding-right: 10px;
}